// boilerplate styles

html {
    font-size: 100%;
    box-sizing: border-box;
}

html:not([data-scroll='0']) {
    body {
        padding-top: 10em;
    }

    nav {
        position: fixed;
        top: 0;
        background: rgba(0,0,0,0.3);
        box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Inter',sans-serif;
    font-size: 1.125rem;
    
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

a, a:visited,a:hover {
    text-decoration: none;
   
}

// flexbox style

.flex {
    display: flex;
    
    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-se {
        justify-content: space-evenly;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

}

// grid style 
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 5px;
}

// buttons 

.button {
    color: $text-color-white;
    background-color: $bg-black;
    padding: 20px 40px;
    text-transform: uppercase;
    border-radius: 40px;
    cursor: pointer;
    font-size: $font-md;
    font-weight: 600;
}

// visibility
.hide-for-mobile {
    // hide for tabs and mobile
    @include breakpoint-down(medium) {
        display: none;
    }

}

.hide-for-desktop {
    // hide for desktops viewport width
    @include breakpoint-up(large) {
        display: none;
    }
}

.Services {
    margin: 60px auto;
}

.desc {
    line-height: 0.6;
    margin-left: 30px;

}