// boilerplate styles

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Inter',sans-serif;
    font-size: 1.125rem;
    
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

a, a:visited, a:hover {
    text-decoration: none;
}
// flexbox style

.flex {
    display: flex;
    
    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-se {
        justify-content: space-evenly;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

}

// buttons 

.button {
    color: $text-color-white;
    background-color: $bg-black;
    padding: 20px 40px;
    text-transform: uppercase;
    border-radius: 40px;
    cursor: pointer;
    font-size: $font-md;
    font-weight: 600;
}

// visibility
.hide-for-mobile {
    // hide for tabs and mobile
    @include breakpoint-down(medium) {
        display: none;
    }

}

.hide-for-desktop {
    // hide for desktops viewport width
    @include breakpoint-up(large) {
        display: none;
    }
}

.services {
    margin: 40px auto;
}


// images
// .img {

// }